<?xml version="1.0"?>

<launch>

     <node pkg="ira_laser_tools" name="laserscan_multi_merger" type="laserscan_multi_merger" output="screen">
       <param name="destination_frame" value="base_link" />
       <param name="cloud_destination_topic" value="/merged_cloud" />
       <param name="scan_destination_topic"  value="/scan_multi" />
       <param name="laserscan_topics" value="/d435_2/scan /d435_3/scan" />
    	<param name="output_frame_id" value="base_link" />
    	<param name="scan_height" value="1" />
    	<param name="range_max" value="4" />
    	<param name="angle_min" value="-1.5708" />
    	<param name="angle_max" value="1.5708" />

    </node>

</launch>
