<launch>

 <!-- Cameras -->
 <!-- Cameras -->
  <include file="$(find realsense2_camera)/launch/rs_rgbd.launch">
    <arg name="camera" value="d435_2" />
     <arg name="serial_no"         default="851112061066"/>
  </include>


  <include file="$(find realsense2_camera)/launch/rs_rgbd.launch">
    <arg name="camera" value="d435_3" />
     <arg name="serial_no"         default="806312060532"/>
  </include>




 <node pkg="tf" type="static_transform_publisher" name="base_to_d435_2_tf"
      args="0.13 -0.06 0.155 -0.349 -0.087 0  base_link d435_3_link 100" />


  <node pkg="tf" type="static_transform_publisher" name="base_to_d435_4_tf"
      args="0.13 0.06 0.155 0.349 -0.087 0  base_link d435_2_link 100" />

</launch>
