<launch>

 <!-- Cameras -->

 <include file="$(find realsense2_camera)/launch/rs_rgbd.launch">
    <arg name="camera" value="d435_1" />
     <arg name="serial_no"         default="801212070782"/>
  </include>

  <include file="$(find realsense2_camera)/launch/rs_rgbd.launch">
    <arg name="camera" value="d435_2" />
     <arg name="serial_no"         default="826212070362"/>
  </include>

  <node pkg="tf" type="static_transform_publisher" name="base_to_d435_1_tf"
      args="0 0.145 0.18 0.0 0.0 0.0 base_link d435_1_link 100" />

  <node pkg="tf" type="static_transform_publisher" name="base_to_d435_2_tf"
      args="0.0 -0.07 0.33 0.0 0.0 0.0 d435_1_link d435_2_link 100" />

</launch>
